@charset "UTF-8";

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

body, html, main {
    background: #551355;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
}

section#login {
    position: absolute;
    
    left: 50%;
    top: 50%;

    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.678);
    overflow: hidden;
    
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#img {
    display: block;

    height: 200px;
    background-image: url(../imagens/predio.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#form {
    display: block;

    padding: 10px;
}

#form > h1 {
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
}

#form p {
    font-size: .9em;
    padding-bottom: 8px;
}

form > div.itens {
    display: block;
    background-color: #551355;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 3px 0;
    box-sizing: border-box;
}

div.itens > label > span {
    position: absolute;
    color: white;
    font-size: 2em;
    padding: 2.5px;
    width: 30px;
    cursor: pointer;
}

div.itens >  input {
    width: calc(100% - 30px);
    height: 100%;
    border-radius: 5px;
    background-color: #ffc9ff;
    box-sizing: border-box;
    
    transform: translate(35px);
}

div.itens >  input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;

    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 1em;
    margin: 3px 0px;
    border: 1px solid black;
    background-color: #551355;
    color: white;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #b11bb1;
    color: white;
}

form > a.botao {
    display: block;
    
    height: 32px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    color: #551355;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 8px;
}

form > a.botao > span {
    font-size: 0.8em;
}

.botao:hover {
    background-color: #b11bb1;
    color: white;
}